* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #24303f;
}
nav {
  width: 100%;
  height: auto;
  padding-top: 0.9%;
  padding-bottom: 0.9%;
  display: flex;
  flex-direction: row;
  background-color: #24303f;
  color: #e8e9e9;
  font-size: 18px;
  position: fixed;
  top: 0;
}
nav section {
  width: 50%;
}
#logo {
  margin-left: 10%;
  display: flex;
}
#logo img {
  width: 30px;
  height: 30px;
}
h1 {
  display: inline;
  margin-left: 10px;
}
#nav-links {
  margin-right: 10%;
  display: flex;
  flex-direction: row;
}
#nav-links ul {
  width: 100%;
  display: flex;
  list-style-type: none;
}
#nav-links ul li {
  width: 25%;
  text-align: right;
}
#menu {
  display: none;
}
#nav-links a {
  color: #e8e9e9;
  text-decoration: none;
}
#nav-links a:active {
  text-decoration: underline;
}
#nav-links a:hover {
  text-decoration: underline;
}
main {
  width: 100%;
  height: auto;
}
#section-1 {
  width: 80%;
  display: flex;
  padding: 0 10%;
  height: 70vh;
  background-image: url("../images/bg-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /* flex-wrap: wrap; */
}
#section-1 article {
  width: 100%;
  padding-top: 5%;
  display: flex;
}
#section-1 article section {
  width: 50%;
}
#hero-text {
  padding-top: 10%;
  font-size: 2.5em;
  font-weight: 800;
  color: #24303f;
  line-height: 1.5em;
}
#web-text {
  color: #41ae6b;
}
#meet-text {
  font-size: 18px;
  margin-top: 5%;
}
.hero-img {
  width: 100%;
  height: auto;
  padding-top: 15%;
}
.team-icons {
  display: flex;
  flex-direction: row;
}
.team-icons div {
  margin-right: 20px;
}
.team-icons img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.team-icons img:hover {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#right-arrow {
  width: 24px;
  height: 24px;
}
#section-2 {
  height: 60vh;
  display: flex;
  padding-top: 8%;
  padding-left: 40%;
  background-image: url("../images/bg-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
#about {
  width: 60%;
  text-align: justify;
  height: auto;
}
#about h2 {
  text-align: center;
}
#about p {
  margin-top: 2%;
}
#section-3 {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  color: #24303f;
}
#section-3 h2 {
  text-align: center;
  margin-bottom: 5%;
}
#team {
  margin-bottom: 10px;
}
#section-3 article.sub {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 10vh;
}
#section-3 article.sub-2 {
  display: flex;
  flex-direction: row-reverse;
  height: auto;
  margin-bottom: 10vh;
}
#section-3 article.photo {
  width: 10%;
  text-align: center;
}
#section-3 .photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#section-3 article .chat-box {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.chat-box .rectangle {
  width: 100%;
  height: auto;
  background-color: #e8e9e9;
  border-radius: 10px;
  padding: 3%;
}
.chat-box .rectangle p {
  margin-top: 5%;
}
.chat-box .rectangle h4 {
  color: #41ae6b;
}
.chat-box .triangle {
  color: white;
  width: 0px;
  height: 0px;
  border: 30px solid black;
  border-top-color: transparent;
  border-right-color: #e8e9e9;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin-top: 15px;
}
.chat-box .triangle-2 {
  color: white;
  width: 0px;
  height: 0px;
  border: 30px solid black;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #e8e9e9;
  margin-top: 15px;
}
.chat-box .about-btn {
  margin-top: 3%;
  width: 150px;
  height: 40px;
  background-color: #649474;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}
footer {
  width: 100%;
  background-color: #464646;
  color: #f5f5f5;
  height: auto;
  padding: 1% 0;
  display: flex;
}
footer a {
  color: #6dafc6;
}
footer section {
  width: 50%;
  text-align: center;
}
footer section.copyright {
  margin-left: 10%;
}
footer section.credits {
  margin-right: 10%;
}
.top-line {
  width: 120px;
  height: 5px;
  margin: auto;
  background-color: #41ae6b;
  border-radius: 5px;
}

@media (max-width: 400px) {
  nav {
    width: 100%;
    height: auto;
    padding-top: 0.8%;
    padding-bottom: 0.5%;
    display: flex;
    flex-direction: row;
    background-color: #464646;
    color: #f5f5f5;
    font-size: 18px;
    position: fixed;
    top: 0;
  }

  #nav-links {
    display: none;
  }

  #logo {
    width: 100%;
    padding: 0 5%;
    margin-left: 0;
  }

  #menu {
    display: block;
    float: right;
  }
  #main {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    height: 100vh;
    background-image: url("../images/bg-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: solid #464646;
  }
  #main div {
    width: 100%;
    height: 70%;
  }
  #hero-text {
    padding-top: 15%;
    font-size: 2em;
    font-weight: 800;
    color: #464646;
    line-height: 1.5em;
  }
  #hero {
    padding-top: 5%;
    text-align: center;
  }
  .hero-img {
    width: 250px;
    height: auto;
    margin-top: 5%;
  }

  .team-icons {
    display: flex;
    flex-direction: row;
    /* margin-top: 20%; */
  }
  .team-icons div {
    margin-right: 3%;
  }
  .team-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .team-icons img:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  #right-arrow {
    width: 24px;
    height: 24px;
  }

  #section-2 {
    height: 100vh;
    display: flex;
    padding: 8%;
    background-image: url("../images/bg-2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: solid #464646;
  }
  #about {
    width: 100%;
    text-align: justify;
    height: 100%;
  }
  #about h2 {
    text-align: center;
  }
  #about p {
    margin-top: 10%;
  }

  #section-3 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
  }

  .sub {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 10vh;
  }

  .sub-2 {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    margin-bottom: 10vh;
  }
  .photo {
    width: 10%;
    text-align: center;
  }
  .photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .chat-box {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .rectangle {
    /* width: 100%;
    height: auto; */
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 3%;
    font-size: 12px;
    /* border-top-left-radius: 0; */
  }
  .rectangle p {
    margin-top: 5%;
  }
  .rectangle h4 {
    color: #7dc6a8;
  }

  .triangle {
    color: white;
    width: 0px;
    height: 0px;
    border: 30px solid black;
    border-top-color: transparent;
    border-right-color: #f5f5f5;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin-top: 15px;
  }

  .triangle-2 {
    color: white;
    width: 0px;
    height: 0px;
    border: 30px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #f5f5f5;
    margin-top: 15px;
  }
  .about-btn {
    margin-top: 3%;
    width: 100px;
    height: 30px;
    background-color: #6dafc6;
    color: #ffffff;
    border: none;
    border-radius: 8px;
  }
}
